.webform-submission-form label, .webform-submission-form input, .webform-submission-form textarea {
  width: 100%;
  max-width: 100%;
}
.webform-submission-form .page-webform label {
  font-weight: bold;
}
.webform-submission-form .page-webform {
  padding-top: 0;
}