/* @license GNU-GPL-2.0-or-later https://www.drupal.org/licensing/faq */
.sitewide-alert{padding:5px;background-color:#f5f5f5;}.sitewide-alert .close{float:right;}.sitewide-alert__message,.sitewide-alert .field--name-message{display:inline-block;}
